@import '../../../sass/colors';
@import '../../../sass/mixins/box-shadow';
@import '../../../sass/mixins/flexbox';
@import '../../../sass/mixins/transition';


#example-2-view {
  width: 100%;
}

#example-2-view > section {
  min-height: 600px;
  padding: 20px;

  &.bg-grey-100 {
    background-color: $grey-100;
  }
  &.bg-grey-200 {
    background-color: $grey-200;
  }
  &.bg-grey-400 {
    background-color: $grey-400;
  }
  &.bg-grey-600 {
    background-color: $grey-600;
  }
}

.page-title {
  margin: 24px 0;
  margin-left: 20px;
  font-size: 48px;
}

